html, body {
    height: 100%;
    width: 100%;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 20px;
    font-style: italic;
}

h4 {
    font-size: 15px;
}

a {
    text-decoration: none;
}

.header {
    text-align: center;
    margin: auto;
    border-bottom: 2px solid black;
}

.card {
    padding: 2%;
    background-color: rgb(213, 213, 213);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    text-align: center;
}